#plan {
    z-index: 1000;
    position: fixed;
    top: 15px;
    right: -612px;
    width: 614px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    /*background-color: blue;*/
}

#plan::before {
    content: '';
    display: block;
    height: 400px;
    width: 4px;
    background-color: #555555;
    margin-top: 15px;
    float: left;
    margin-left: -4px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
#plan:hover {
    right: 0;
}

#plan img {
    margin: 0;
    max-width: 100%;
}