@import url('https://fonts.googleapis.com/css?family=Inconsolata');
#textarea, #termDiv, #terminal {

    font-family: 'Inconsolata', monospace;
}

#textarea, #terminal {
    margin-left: 10px;
    caret-color: #2bf100;
    font-size: 15px;
}
input[type='terminal']{
    background-color: #151515;
    color:#2bf100 ;
}

#termDiv {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    background-color: #151515;
    width: 30%;
    min-height: 50%;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#terminal {
    outline-style: none;
    border: 0;
    width:90%;
}

#textarea {
    resize: none;
    /*height: 90%;*/
    width: 90%;
    margin: 3px;
    margin-left:10px;
    border: none;
    background-color: #151515;
    color: #00dc00;
}
* {
    outline-style: none;
}
