#term {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    /*border: 1px solid #ff00db;*/
    border-left-color: dimgray;
    border-bottom-color: dimgray;
    width: 30%;
    height: 50%;
    background-color: dimgray;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    /*background-color: blue;*/
}

/*todo blinking cursor*/