#textarea, #termDiv, #terminal {
    background-color: dimgray;
    font-family: 'Inconsolata', monospace;
}

#textarea, #terminal {
    caret-color: red;
    font-size: 15px;

}

#termDiv {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    /*border: 1px solid #ff00db;*/
    width: 30%;
    height: 50%;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    /*background-color: blue;*/
}

#terminal {
    outline-style: none;
    border: 0;
}

#textarea {
    resize: none;
    height: 90%;
    width: 90%;
    margin: 3px;
    border: none;
    background-color: aqua !important;
}
* {
    outline-style: none;
}
