@import url('https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin-ext');
#todo{
    height:40vh;
    width:33%;
    margin-right: auto;
    margin-left: auto;

    transition-duration: 0.1s;
    text-decoration: none;
    animation: fadeIn .3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#todoForm{
    margin-bottom: 5px;
    background-color : #222222;
}
input{
    background-color: #222222;
}
#notesInput{
    margin-top:5%;
    width: 100%;
    text-align: center;
    outline: none;
    font-family: 'Slabo 27px', serif;
    font-size:2em;
    border-bottom: 1px solid #ebdbb2;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    color: #ebdbb2;

}
.outerDivTodo{
    height:10%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /*border: 1px solid black;*/
    background-color: inherit;
    animation: fadeInUp .75s;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebdbb2;
    margin:10px;
}
.noteText{
    overflow: visible;
    max-height: 90%;
    width:90%;
    border: none;
    resize: none;
    /*next two lines: no cursor */
    font-family: 'Slabo 27px', serif;
    color: transparent;
    text-shadow: 0 0 0 #ebdbb2;
    font-size: 1.5em;
    /*border: 1px solid black;*/
    background-color: transparent;

}
.todoButton{
    /*border: 1px solid black;*/
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
